.header-container{
    background-color:  rgba(229, 84, 115, 0.10);
    width: 2500px;
    height: 850px;
    display: flex;
}
.left-side{
    padding: 200px;
}

.beautiful-flower{
color: #272727;
font-size: 80px;
font-weight: 800;

}
.btn-container{
color: #FFF;
font-size: 20px;
font-weight: 700;
padding: 20px 43px;
border-radius: 8px;
background: #E55473;

}
.flowers{
    padding: 150px 240px;
    padding-bottom: 0px;
    
}
.text-align{
    text-align:  center;
    padding: 100px;
}